body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #BDC7C9;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home_div {
  background-color: #eeeeee;
  width: 100%;
  max-width: 600px;
  padding: 12px;
  border-radius: 12px;
}

input {
  margin: 6px 8px;
  border-radius: 6px;
  padding: 6px;
  border: 1px solid #2B4F60;
}

input[type='submit'] {
  background-color: #2B4F60;
  color: #eeeeee;
}

.daily_div {
  border: 1px solid #2B4F60;
  border-radius: 12px;
  margin: 10px 0;
}